<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
	<% _.each(cmsSnippets, function (snippet) { %>
		<tr>
			<td><a href="adminCmsSnippetEdit?langs=<% if(global.langs){print(global.langs.join(','));}else{print('en');} %>&name=<%= snippet.name %>"><%= snippet.name %></a></td>
		</tr>
	<% }) %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
