<%= _.render('inc/head', obj) %>
<%= _.render('inc/page_top', obj) %>
<form method="post">

	<%= _.render('inc/adminCmsPageEditControls', obj) %>

	<fieldset>
		<legend>Identity</legend>

		<div class="row">
			<div class="three columns">
				<label for="id">Id</label>
				<input type="text" value="<%= global.urlParsed.query.id %>" disabled="disabled" />
			</div>

			<div class="three columns">
				<label for="name">Page name</label>
				<input type="text" name="name" value="<%= global.formFields.name %>" />
			</div>

			<div class="three columns">
				<label for="published">
					<input type="checkbox" name="published" <% if (global.formFields.published) print(' checked="checked"'); %> />
					<span class="label-body">Published</span>
				</label>
			</div>
		</div>
	</fieldset>

	<% if ( ! global.urlParsed.query.langs) global.urlParsed.query.langs = 'en'; %>

	<% _.each(global.urlParsed.query.langs.split(','), function(lang) { %>
	<fieldset>
		<legend>Entry content, language: <%= lang %></legend>

		<div class="row">
			<div class="six columns">
				<label for="htmlTitle.<%= lang %>">Page title</label>
				<input type="text" name="htmlTitle.<%= lang %>" value="<% if (global.formFields['htmlTitle.' + lang]) print(global.formFields['htmlTitle.' + lang]) %>" />
			</div>

			<div class="six columns">
				<label for="slug.<%= lang %>">Slug</label>
				<input type="text" name="slug.<%= lang %>" value="<% if (global.formFields['slug.' + lang]) print(global.formFields['slug.' + lang]) %>" />
			</div>
		</div>

		<div class="row">
			<label for="body.<%= lang %>">Entry content</label>
			<textarea class="u-full-width" name="body.<%= lang %>" rows="20"><% if (global.formFields['body.' + lang]) print(global.formFields['body.' + lang]) %></textarea>
		</div>
	</fieldset>
	<% }); %>

	<%= _.render('inc/adminCmsPageEditControls', obj) %>

</form>
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>
tinymce.init({
	'selector': 'textarea',
	'toolbar': 'undo redo | formatselect bold italic underline strikethrough | subscript superscript | link unlink image | table | removeformat code',
	'menubar': false,
	'plugins': 'link image code table',
	'valid_elements': 'table,tr[colspan|rowspan],td[colspan|rowspan],th,thead,tbody,p,strong,a[href|target],em,span,sup,sub,h1,h2,h3,img[id|lang|longdesc|src|alt|title|width|height|rel]'
});
</script>
<%= _.render('inc/pageBottom', obj) %>