<div class="row">
	<div class="six columns">
		<a href="/adminCmsSnippets" class="button">Cancel</a>
	</div>

	<div class="six columns text_right">
		<button type="submit" name="save" value="save">Save</button>
	</div>
</div>